body{
font-family: Arial, sans-serif;
background:#f4f6f9;
margin:0;
padding:0;
text-align:center;
}

header{
background:#0b57d0;
color:white;
padding:15px;
font-size:22px;
}

.container{
background:white;
width:400px;
margin:40px auto;
padding:25px;
border-radius:10px;
box-shadow:0px 0px 10px rgba(0,0,0,0.2);
}

input, textarea, select{
width:90%;
padding:10px;
margin:10px 0;
border-radius:5px;
border:1px solid #ccc;
font-size:14px;
}

button{
background:#0b57d0;
color:white;
border:none;
padding:12px 20px;
width:95%;
font-size:16px;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#084298;
}

table{
margin:30px auto;
border-collapse:collapse;
width:80%;
background:white;
}

th, td{
padding:12px;
border:1px solid #ccc;
}

th{
background:#0b57d0;
color:white;
}
